@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ul,
ol,
li {
    list-style: none;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: black;
}

/* CSS Document */
.nav {
    display: flex;
    align-items: center;
    width: 100%;
    left: 0;
    padding: 0 20px;
    box-sizing: border-box;
}

.left-entry {
    display: flex;
}

.left-entry .title {
    display: flex;
    align-items: center;
    height: 64px;
    color: black;
    margin-right: 15px;
}

body {
    font-size: 14px;
}


.nav-center {
    flex: 1;
    height: 40px;
    padding: 0 48px 0 4px;
    border-radius: 8px;
    border: 1px solid #e3e5e7;
    background-color: #f1f2f3;
    display: flex;
    align-items: center;
    position: relative;
}

.nav-center .nav-button {
    position: absolute;
    top: 4px;
    right: 7px;
    display: flex;
    align-items: center;
    justify-items: center;
    width: 32px;
    height: 32px;
    line-height: 32px;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color .3s;
}

.nav-center .nav-button:hover {
    background-color: #e3e4e5;
}

.nav-center :hover {
    background-color: #fff;
}

.nav-center .nav-content {
    display: flex;
    height: 20px;
    width: 100%;
    padding: 0 8px;
}

.nav-content .nav-input {
    background-color: transparent;
    flex: 1;
    line-height: 20px;
    overflow: hidden;
    padding-right: 8px;
}

.right-entry {
    display: flex;
    margin-left: 10px;
    align-items: center;
}

.right-entry .header-avatar {
    height: 50px;
    width: 50px;
    padding-right: 10px;
    position: relative;
}

.right-entry .header-avatar a {
    position: absolute;
    top: 6px;
    left: 10px;
    height: 36px;
    width: 36px;
    line-height: 36px;
    border-radius: 50%;
    background-color: mediumspringgreen;
    display: flex;
    justify-content: center;
    border: 2px solid #fff;
    color: #fff;
}

.right-entry .right-entry-item {
    min-width: 50px;
    margin-right: 4px;
}

.right-entry .right-entry-item a {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*color: #fff;/*/
}

.right-entry-item a span {
    font-size: 13px;
}

.right-entry .upload {
    display: flex;
    width: 90px;
    height: 34px;
    justify-content: center;
    align-items: center;
    line-height: 34px;
    border-radius: 8px;
    color: #fff;
    background-color: lightseagreen;
    margin-left: 10px;
}

.right-entry .upload span {
    margin-left: 5px;
}

body,
html,
div,
blockquote,
img,
label,
p,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
ul,
ol,
li,
dl,
dt,
dd,
form,
a,
fieldset,
input,
th,
td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
}

.nav {
    position: absolute;
    top: 0;
    z-index: 1000;
}


.nav1 {

    position: relative;
    /* 设置相对定位 */
    display: inline-block;
    /* 让元素具有块级元素和行内元素的特性,即将块级元素转化为内联元素 */
    display: flex;
    padding: 20px;
}

.nav2 {

    display: none;
    /* 将某元素隐藏起来 */
    position: absolute;
    /* 绝对定位 */
    top: 50px;
    padding: 20px, 0px;
    background-color: #999;
    min-width: 60px;
    /* 最小宽度 */
}

.nav2 a {

    color: black;
    padding: 12px 12px;
    display: block;
    /* 将a标签设置为块级标签 */
}

.nav2 a:hover {
    background-color: dimgray;
}

/* 鼠标悬浮时的颜色 */

.nav1:hover .nav2 {
    display: block;
}

/* 鼠标悬浮在元素上时,变为块级标签 */