{% extends "base.html" %}

{% block title %}
  登录
{% endblock %}
{% block head %}
{% endblock %}

{% block body %}
  <div class="row mt-4 justify-content-md-center">
      <div class="col"></div>
      <div class="col-6">
          <h1 style="text-align:center">登录</h1>
          <form action="{{ url_for('user.login') }}" method="post">
<!--            <input type="hidden" name="csrf_token" value="##">-->
            <div class="form-group">
              <input type="text" class="form-control" name="email" placeholder="邮箱">
            </div>
            <div class="form-group">
              <input type="password" class="form-control" name="password" placeholder="密码">
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" name="remember" value="1">记住我
              </label>
            </div>
            {% for message in get_flashed_messages() %}
                <div class="form-group">
                      <div class="text-danger">{{ message }}</div>
                </div>
            {% endfor %}
            <div class="form-group">
              <button type="submit" class="btn btn-warning btn-block" id="submit-btn">立即登录</button>
            </div>
            <div class="form-group">
              <a href="{{ url_for('user.register') }}" class="signup-link">没有账号？立即注册</a>
              <a href="#" class="resetpwd-link" style="float:right;">找回密码</a>
            </div>
          </form>
      </div>
      <div class="col"></div>
  </div>
{% endblock %}